
// .landing-div {
//     display: flex;
//     flex-direction: column
//     justify-content: space-evenly;
//     align-items: center;
 

// }
.items, img {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 2%;

    
}


