 
@import './landingPage';

 .App{
     background-color: aquamarine;
 }

 .App-header {
     display: flex;
     justify-content: space-evenly;
     background-color: rgba(128, 0, 128, 0.247);
     width: 85vw;
     height: 50vh;


 }
//  ul{

//  }